@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-outfit), sans-serif;
}

body {
  font-family: var(--font-outfit), sans-serif;
  background-color: #f8fafc;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.05);
}

.dark .glass-card {
  background: rgba(30, 41, 59, 0.7); /* slate-800 */
  border: 1px solid rgba(51, 65, 85, 0.5); /* slate-700 */
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}
